/* Setup Styles */

* {
  box-sizing: border-box;
}

.content {
  padding: 16px;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .teachers,
  .students {
    width: 100%;
  }
}

.pageTop-container {
  padding: 30px;
  text-align: center;
  height: 185px;
}

h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

/*Here are the large elements*/

html,
body {}

table {
  width: 100%;
}

td {
  vertical-align: top;
  width: 50%;
}

p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

div {
  overflow: auto;
}

table {
  overflow: auto;
}

/*Border Styles*/

.borderLess {
  border: none;
}

.thickBorder {
  border: 5px solid;
}

.mediumBorder {
  border: 3px solid;
}

.smallBorder {
  border: 1px solid;
}

.highRoundBorder {
  border-radius: 20px;
}

.mediumRoundBorder {
  border-radius: 15px;
}

.lowRoundBorder {
  border-radius: 12px;
}

.redBorder {
  border-color: red;
}

.orangeBorder {
  border-color: orange;
}

.yellowBorder {
  border-color: yellow;
}

.greenBorder {
  border-color: green;
}

.blueBorder {
  border-color: blue;
}

.purpleBorder {
  border-color: #6606A5;
}

.greyBorder {
  border-color: grey;
}

.blackBorder {
  border-color: black;
}

/*Margin and padding styles*/

.largePadding {
  padding: 10px;
}

.mediumPadding {
  padding: 7px;
}

.smallPadding {
  padding: 5px
}

.largeMargin {
  margin: 60px;
}

.mediumMargin {
  margin: 40px;
}

.smallMargin {
  margin: 20px;
}

.marginLess {
  margin: 0px;
}

/*Alignment Styles*/

.leftAlign {
  text-align: left;
}

.centerAlign {
  text-align: center;
}

.rightAlign {
  text-align: right;
}

/*Gradient Styles*/

.radialGreyToBottom {
  background: -webkit-linear-gradient(bottom, grey, white);
  background: -o-linear-gradient(bottom, grey, white);
  background: -moz-linear-gradient(bottom, grey, white);
  background: -linear-gradient(to bottom, grey, white);
}

.radialGreyToBottom {
  background: -webkit-linear-gradient(bottom, grey, white);
  background: -o-linear-gradient(bottom, grey, white);
  background: -moz-linear-gradient(bottom, grey, white);
  background: -linear-gradient(to bottom, grey, white);
}

.radialGreyToBottom {
  background: -webkit-linear-gradient(bottom, grey, white);
  background: -o-linear-gradient(bottom, grey, white);
  background: -moz-linear-gradient(bottom, grey, white);
  background: -linear-gradient(to bottom, grey, white);
}

.radialGreyToBottom {
  background: -webkit-linear-gradient(bottom, grey, white);
  background: -o-linear-gradient(bottom, grey, white);
  background: -moz-linear-gradient(bottom, grey, white);
  background: -linear-gradient(to bottom, grey, white);
}

.radialPurpleToBottom {
  background: -webkit-linear-gradient(bottom, purple, white);
  background: -o-linear-gradient(bottom, purple, white);
  background: -moz-linear-gradient(bottom, purple, white);
  background: -linear-gradient(to bottom, purple, white);
}

/*Background Styles*/

.whiteBackground {
  background-color: white
}

.blackBackground {
  background-color: black
}

.redBackground {
  background-color: red;
}

.orangeBackground {
  background-color: orange
}

.yellowBackground {
  background-color: yellow
}

.greenBackground {
  background-color: green
}

.blueBackground {
  background-color: blue
}

.purpleBackground {
  background-color: #6606A5;
}

/*Text Styles*/

.whiteText {
  color: white;
}

.blackText {
  color: black;
}

/*Link Styles*/

.inverseLink:link,
.uniqueLinks a:link {
  color: red;
}

/* visited link */

.inverseLink:visited,
.uniqueLinks a:visited {
  color: green;
}

/* mouse over link */

.inverseLink:hover,
.uniqueLinks a:hover {
  color: hotpink;
}

/* selected link */

.inverseLink:active,
.uniqueLinks a:active {
  color: blue;
}